body {
    background-color: yellow;
}

.gameBoard {
width: 324px;
font-size: 0;
  .field {
    box-sizing: border-box;
    border-width: 1px;
    border-color: black;
    height: 108px;
    line-height: 108px;
    width: 108px;
    display: inline-block;
    margin: 0;
    background-color: red;
    vertical-align: middle;
    p {
      height: 100%;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 32px;
      vertical-align: middle;
      text-align: center;
    }
    .hidden {
        display: none;
      }
    .visible {
        display: inline-block;
      }
    
  }
}


